.d-flex {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
}

.d-flex h2 {
    font-size: 32px; /* 제목 글씨 크기 키우기 */
    font-weight: bold;
    color: #333; /* 제목 색상 변경 */
    margin-right: 20px; /* 제목 오른쪽 여백 */
}

.category {
    text-align: right; /* 링크들을 오른쪽 정렬 */
}

.category a {
    font-size: 20px; /* 링크 글씨 크기 */
    color: #666; /* 링크 기본 색상 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 10px 20px; /* 링크 내용의 패딩 추가 */
    border: 1px solid #ccc; /* 테두리 설정 */
    background-color: #f2f2f2; /* 배경색 설정 */
    border-radius: 5px; /* 둥근 모서리 추가 */
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* 변형과 그림자, 테두리에 대한 transition 효과 추가 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
}

.category a:hover {
    color: #333; /* 호버 시 텍스트 색상 변경 */
    background-color: #e0e0e0; /* 호버 시 배경색 변경 */
    transform: translateY(-2px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
}

.category a.selected {
    background-color: #333; /* 선택된 배경색 */
    color: #fff; /* 선택된 텍스트 색상 */
}

.citys button {
	padding: 10px;
	margin: 2px;
    margin-bottom: 10px;
}
    
.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 아이템을 좌우로 고르게 배치 */
}

.article-item {
    width: calc(40% - 20px); /* 아이템 너비를 25%로 설정 (마진 제외) */
    margin-bottom: 20px; /* 아이템 간 간격 조정 */
    margin-right: 20px; /* 오른쪽 마진 추가 */
    box-sizing: border-box; /* 박스 크기를 마진과 패딩을 포함한 값으로 계산 */
}

.article-item:hover{
  cursor: pointer;
  transform: rotate(0deg) scale(1.1);    /* 요소를 확대 */
  transition: .5s all ease;
  z-index: 400;              /* 요소를 앞으로 */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-box {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* 사진을 외곡 없이 자연스럽게 box에 꽉차게 */
    display: block;
}

.text-box {
    padding: 10px;
    background-color: #f9f9f9;
}

.text-box h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.text-box p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

li{
  list-style-type: none;  /* li 태그에 점을 없애는 설정*/
}

/* 반응형 레이아웃을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
    .article-item {
        width: calc(50% - 20px); /* 너비를 50%로 조정 */
    }
    .article-item:nth-child(2n) {
        margin-right: 0; /* 두 번째 항목은 오른쪽 마진 제거 */
    }
}

@media (max-width: 768px) {
    .article-item {
        width: 100%; /* 너비를 100%로 조정 */
        margin-right: 0; /* 오른쪽 마진 제거 */
    }

}

.pagination {
    margin: 20px 0; /* 페이지네이션과 푸터 사이의 간격을 늘립니다 */
    display: flex;
    justify-content: center;
    list-style: none;
}
          
.page-item {
    margin: 0 1px;
}

.page-item a {
    text-decoration: none;
    color: blue;
}

.page-item.active a {
    font-weight: bold;
}
        

#pastItemMenu {
	position: absolute;
	width: 265px;
	height: 735px;
	right: 20px;
	top: 130px;
	background-color: #ffffff;
	color: #606060;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 테두리 그림자 효과 추가 */
    border: 1px solid #ccc; /* 테두리 추가 (선택 사항) */
    padding: 20px; /* 내부 여백 설정 */

}

.pastMenu{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px; /* 메뉴 이름과 객체 사이의 간격 설정 */
   	border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 테두리 둥글게 */
    background-color: #f0f0f0; /* 배경색 추가 */
}

.showItemList{
	width: 218px;
	height: 590px;
    box-sizing: border-box; /* 박스 크기 계산을 border-box로 설정 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 테두리 둥글게 */
    padding: 5px; /* 내부 여백 설정 */
}

.clearBtn{
	padding: 5px;
	text-align:center;
	margin: 10px 0px 10px;
	display: block;
	margin-left: auto;
    margin-right: auto; /* 중앙 정렬 */
}

